__pycache__/
*.pyc
.DS_Store
server.log
**/genhdr/qstr.i.last
**/build-WAVESHARE_ESP32_S3_KNOB/
**/build_knob/
**/build_test/
hardware/esp-idf/
hardware/CrowPanel-*/
hardware/lv_micropython/
hardware/knob-lv-micropython.tar.gz
